<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/style_QA.css}">
	<link rel="stylesheet" th:href="@{/css/styleChat.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- 채팅창용 -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- 추가 -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<!-- 추가 -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script>
		$(document).ready(function() { // 엔터키 입력 가능하게
			$("#Q").keypress(function(e) {
				if (e.which == 13) {
					chatList(); // 실행할 이벤트
					$('#Q').val(''); // 텍스트 내용 초기화
				}
			});
		});
		var url_link = 'http://localhost:5000/dto/'
		var date;
		var year;
		var month;
		var day;
		var hour;
		var min;
		var time;
		var curDateFmt2;
		var d2;
		function serverToday() {
			var xmlHttp;
			//분기하지 않으면 IE에서만 작동된다. 
			if (window.XMLHttpRequest) { //IE 7.0 이상, 크롬, 파이어폭스일 경우 분기 
				xmlHttp = new XMLHttpRequest();
				xmlHttp.open('HEAD', window.location.href.toString(), false);
				xmlHttp.setRequestHeader("Content-Type", "text/html");
				xmlHttp.send('');
			} else if (window.ActiveXObject) {
				xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
				xmlHttp.open('HEAD', window.location.href.toString(), false);
				xmlHttp.setRequestHeader("Content-Type", "text/html");
				xmlHttp.send('');
			}
			var st = xmlHttp.getResponseHeader("Date");
			var curDate = new Date(st);
			var curDateFmt;
			var year = curDate.getFullYear();
			var month = curDate.getMonth() + 1;
			var day = curDate.getDate();
			var hours = curDate.getHours();
			var minutes = curDate.getMinutes();
			if (parseInt(month) < 10) {
				month = 0 + "" + month;
			}
			if (parseInt(day) < 10) {
				day = 0 + "" + day;
			}
			if (parseInt(hours) < 10) {
				hours = 0 + "" + hours;
			}
			if (parseInt(minutes) < 10) {
				minutes = 0 + "" + minutes;
			}
			var curDateFmt = year + "-" + month + "-" + day + "T" + hours + ":"
					+ minutes + ":00";
			var d = new Date(curDateFmt);
			return d;
		}

		$(document).ready(function() {

		});

		function chatList() {

			$.ajax({
					url : url_link,
					type : 'post',
					//contentType: "application/json",
					data : {
						'Q' : $('#Q').val()
					},
					beforeSend : function(jqXHR) {
							console.log("호출전");
							d = serverToday();
							time = moment(d).format('h:mm a | MMMM DD');
							$('#chat').append("<li class='me'><div class='entete'><h3>"+time+"</h3><h2>&nbsp;&nbsp;User</h2>&nbsp;&nbsp;<span class='status blue'></span></div><div class='triangle'></div><div class='message'>"+$("#Q").val()+"</div></li>");
						},
						success : function(data) {
							console.log("성공");
							console.log(data);
							/* $('#A').append("<p>" + data['A'] + "</p>") */
							date = data['datetime'];
							year = date.substring(0, 4);
							month = date.substring(4, 6);
							day = date.substring(6, 8);
							hour = date.substring(8, 10);
							min = date.substring(10, 12);
							curDateFmt2 = year + "-" + month + "-" + day + "T"
									+ hour + ":" + min + ":00";
							d2 = new Date(curDateFmt2);
							time2 = moment(d2).format('h:mm a | MMMM DD');
							$('#chat').append("<li class='you'><div class='entete'><span class='status green'></span><h2>AI ChatBot</h2><h3>&nbsp;"+time2+"</h3></div><div class='triangle'></div><div class='message'>" +data['A'] + "</div></li>");
						},
						error : function(jqXHR) {
							alert("serialize err");
						}
					});
			$('#Q').val(''); // text 내용 초기화
		}
	</script>

</th:block>
<div layout:fragment="content">
	<div id="container" style = "margin-top: 20px;">
		<aside>
			<header>
				<input type="text" placeholder="search">
			</header>
			<ul>
				<li><img
					src="/images_main/chat/AIbot.png"
					alt="" width="50px" height="50px">
					<div>
						<h2>AI Bot</h2>
						<h3>
							<span class="status green"></span> online
						</h3>
					</div></li>
					<li>
					<div style = "padding-left: 20px;">
						<h2>질문 예시 1)</h2>
						<h3>
						  해외에서 오는 택배를 받아도 될까?
						</h3>
					</div></li>
			</ul>
		</aside>
		<main>
			<header>
				<img
					src="/images_main/chat/AIbot.png"
					alt="" width="50px" height="50px">
				<div>
					<h2>AI-Bot</h2>
					<h3 style = "font-size : 5px;">안녕하세요. AI-Bot입니다.</h3>
					<h3 style = "font-size : 5px;">코로나 관련 질문을 물어보세요!</h3>
					<p style="font-size: 5px;">챗봇이 모르는 질문이면 전화기를 클릭하세요</p>
				</div>
				<a id="help" href="/main/idMake"><i class="fa fa-phone"></i></a>
			</header>
			<ul id="chat">
				<li class="you">
					<div class="entete">
						<span class="status green"></span>
						<h2>Vincent</h2>
						<h3>10:12AM, Today</h3>
					</div>
					<div class="triangle"></div>
					<div class="message">안녕하세요? 코로나 19 전용 챗봇이에요. 더욱 자세한 질문을 원하신다면 위쪽에 있는 전화기 버튼을 클릭해주세요</div>
				</li>

			</ul>
			<div id="footer">
				<textarea id = "Q" placeholder="Type your message"></textarea>
				<img
					src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
					alt=""> <img
					src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
					alt=""> <button id = "" href="#">Send</button>
			</div>
		</main>
	</div>
</div>
	<!--  
	<div>
		<div class="" style="margin-top: 0">

			<div class="msg-header" style="background: /* #54cff9 */;">
				<div id="greetings" class="active2 header-icons"
					style="width: 100%; padding-bottom: 0;">
					<h4>
						Covid-19 AI에게 질문하기 <a id="help" href="/chat/idMake"><i
							class="fa fa-phone"></i></a>
					</h4>
				</div>
				<div class="header-icons">

				</div>
			</div>

			<div class="chat-page">

				<div class="msg-inbox"
					style="background: /* #97cfe261 */; height: 13.5rem;">
					<div class="chats"
						style="overflow: scroll !important; height: 15rem;">
						<div class="msg-page">

							<div id=QnA>

							</div>
						</div>
					</div>
				</div>
				<div class="msg-bottom">
					<div class="input-group">
						<input type="text" id="Q" class="form-control"
							onKeypress="javascript:if(event.keyCode==13) {search_onclick_submit}"
							placeholder="챗봇에게 물어보세요">
						<div class="input-group-append">
							<a class="btn btn-default" type="submit" onclick="chatList();">
								<span class="input-group-text"><i
									class="fa fa-paper-plane"></i></span>
							</a>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
-->
</html>
