<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메인 페이지</title>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link> -->

<link rel="stylesheet" th:href="@{/css/style.css}"></link>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<div style="padding: 2rem;">

	<div  class="container-fluid text-center bg-main">
		<h1 class="K_fontsize_65px">COVID-19</h1><p><br>
	</div>
	

	<nav style="padding: 1.5rem 1rem 1.5rem 10rem;" class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="K_fontsize_20px navbar-nav mr-auto">
			
				<li class="K_pad5rem nav-item active">
					<a class="nav-link" href="/main/mainLive">현황판</a>
				</li>
				<li class="K_pad5rem nav-item">
					<a class="nav-link" href="/main/mainInfo">COVID-19 정보</a>
				</li>
				<li class="K_pad5rem nav-item">
					<a class="nav-link" href="/main/mainMove">확진자 동선</a>
				</li>
				<li class="K_pad5rem nav-item">
		            <a class="nav-link" href="/main/mainQA">Q&A</a>
				</li>
			
			</ul>
		</div>
		<div class="K_fontsize_20px navbar-collapse collapse w-100% order-3">
		<ul class="navbar-nav ml-auto">
	        <li class="K_pad5rem nav-item">
	            <a class="nav-link" href="#myModal" data-toggle="modal">LogIn</a>
	        </li>
	    </ul>
		</div>
	</nav>
	<p>
	<!-- Modal HTML -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
<!-- 					<div class="avatar">
						<img src="/examples/images/avatar.png" alt="Avatar">
					</div> -->				
					<h4 class="modal-title">Member Login</h4>	
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form action="/examples/actions/confirmation.php" method="post">
						<div class="form-group">
							<input type="text" class="form-control" name="username" placeholder="Username" required="required">		
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" placeholder="Password" required="required">	
						</div>        
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
						</div>
					</form>
				</div>
	
			</div>
		</div>
	</div>     

	<div class="wrap">
		<div class="top container wrap2">
			<h1 class="text-center K_font_size_30px">전 세계</h1><br>
			<div class="row dashboard world K_fontsize_20px">
				<div class="col-4 col-sm-4 col-md-3 text-center">
					<p class="confirmed number">5,937,120<p>
					<p class="confirmed diff">(+29,344)</p>
					<p>확진자</p>
				</div>
	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="death red number">364,408</p>
					<p class="death diff">(+1,515)</p>
					<p>사망자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="released number">2,630,669</p>
					<p class="released diff">(+22,726)</p>
					<p>격리해제</p>
				</div>
				<div class="col-6 col-sm-6 col-md-3 text-center">
					<p class="fatality number">6.14%</p>
					<p> (-)</p>
					<p>치사율</p>
				</div>
				<div class="col-6 col-sm-6 col-md-2 text-center">
					<p class="country number">214</p>
					<p class="country diff">(-)</p>
					<p>발생국</p>
				</div>
			</div><p><br><p><br>
	
			<h1 class="text-center K_font_size_30px">대한민국</h1><br>
			<div class="row dashboard domestic K_fontsize_20px">
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="confirmed number">11,402</p>
					<p class="confirmed diff">(-)</p>
					<p>확진자</p></div>
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="death red number">269</p>
					<p class="death diff">(-)</p>
					<p>사망자</p>
				</div>
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="released number">10,363</p>
					<p class="released diff">(-)</p>
					<p>격리해제</p>
				</div>
				
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="fatality number">2.36%</p>
					<p>(-)</p><p>치사율</p></div>		
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="candidate number">885,120</p>
					<p class="candidate diff">(-)</p>
					<p>총검사자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="testing number">24,557</p>
					<p class="testing diff">(-)</p>
					<p>검사중</p>
				</div>	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="negative number">849,161</p>
					<p class="negative diff">(-)</p>
					<p>결과음성</p>
					<br>
					<div class="K_fontsize_13px"> 업데이트 : 2020-05-29</div>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
</html>