<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/style_QA.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<!-- 채팅창용 -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- 추가 -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script th:inline="javascript">
		/* <![CDATA[*/
		var userId = /*[[${sender}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var sender = /*[[${sender}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var receiver = /*[[${receiver}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var who = /*[[${who}]]*/null;
		/* ]]> */
	//-- 함수 추가 --
	function LoadingWithMask() {
			//화면의 높이와 너비를 구합니다.
			var maskHeight = $(document).height();
			var maskWidth = window.document.body.clientWidth;

			//화면에 출력할 마스크를 설정해줍니다.
			var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
			var loadingImg = '';

			loadingImg += " <img src='/Pacman.gif' style='display: block; margin: 60px auto;' align='center'/>";

			//화면에 레이어 추가
			$('body').append(mask)

			//마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
			$('#mask').css({
				'width' : maskWidth,
				'height' : maskHeight,
				'opacity' : '0.3'
			});

			//마스크 표시
			$('#mask').show();

			//로딩중 이미지 표시
			$('#loading').append(loadingImg);
			$('#loading').append("<div style='text-align: center;'>상담원과 연결중입니다....<br>상담신청이 많을 시 지연될 수 있습니다.</div>");
			$('#loading').show();
		}

		function closeLoadingWithMask() {
			$('#mask, #loading').hide();
			$('#mask, #loading').empty();
		}
	</script>
	<script src="/app.js"></script>

<!-- 이미지 자동 넘기기용 -->
   <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
		
</th:block>
<script> $('.carousel').carousel({ interval: 2000 //기본 5초 }) </script>
<div layout:fragment="content" style="height: calc(100vh-86px) !important;">
	<div class="abc" style="margin: 0 50px; padding-top: 70px;">
		<div class="row">
 			<div class="col"
				style="padding: 10px; overflow:scroll;">
				<div th:replace="fragments/info :: infoFragment"></div>
				<!-- 게시판 -->
			</div>
			<div class="">
				<div class="row"
					style="padding: 10px 10px 0px 10px; width: 21rem; ">
					<!-- 코로나 이슈 -->
					<div th:replace="fragments/hot :: hotFragment"></div>
					
				</div>
				
				<div class="row"
					style="padding: 0px 10px 10px 10px; width: 21rem; height: 20rem !important;" >
					<!-- 채팅창 -->
					<div th:replace="fragments/chathuman :: chathumanFragment"></div>
				</div>

			</div>
		</div>
	</div>
</div>
</html>
