<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="wrap">
		<div class="top container wrap2">
			<h1 class="text-center K_font_size_30px">전 세계</h1><br>
			<div class="row dashboard world K_fontsize_20px">
				<div class="col-4 col-sm-4 col-md-3 text-center">
					<p class="confirmed number">5,937,120<p>
					<p class="confirmed diff">(+29,344)</p>
					<p>확진자</p>
				</div>
	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="death red number">364,408</p>
					<p class="death diff">(+1,515)</p>
					<p>사망자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="released number">2,630,669</p>
					<p class="released diff">(+22,726)</p>
					<p>격리해제</p>
				</div>
				<div class="col-6 col-sm-6 col-md-3 text-center">
					<p class="fatality number">6.14%</p>
					<p> (-)</p>
					<p>치사율</p>
				</div>
				<div class="col-6 col-sm-6 col-md-2 text-center">
					<p class="country number">214</p>
					<p class="country diff">(-)</p>
					<p>발생국</p>
				</div>
			</div><p><br><p><br>
	
			<h1 class="text-center K_font_size_30px">대한민국</h1><br>
			<div class="row dashboard domestic K_fontsize_20px">
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="confirmed number">11,402</p>
					<p class="confirmed diff">(-)</p>
					<p>확진자</p></div>
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="death red number">269</p>
					<p class="death diff">(-)</p>
					<p>사망자</p>
				</div>
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="released number">10,363</p>
					<p class="released diff">(-)</p>
					<p>격리해제</p>
				</div>
				
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="fatality number">2.36%</p>
					<p>(-)</p><p>치사율</p></div>		
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="candidate number">885,120</p>
					<p class="candidate diff">(-)</p>
					<p>총검사자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="testing number">24,557</p>
					<p class="testing diff">(-)</p>
					<p>검사중</p>
				</div>	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="negative number">849,161</p>
					<p class="negative diff">(-)</p>
					<p>결과음성</p>
					<br>
					<div class="K_fontsize_13px"> 업데이트 : 2020-05-29</div>
				</div>
			</div>
		</div>
	</div>

</div>
</html>
