<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/style_QA.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- 추가 -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<!-- 추가 -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script th:inline="javascript">
		/* <![CDATA[*/
		var userId = /*[[${sender}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var sender = /*[[${sender}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var receiver = /*[[${receiver}]]*/null;
		/* ]]> */
		/* <![CDATA[*/
		var who = /*[[${who}]]*/null;
		/* ]]> */
	</script>
	<script src="/app.js"></script>
</th:block>
<div layout:fragment="content">
	<!-- 여기서부터 채팅 div -->
	<div class="container" style="margin-top: 0">
		<!-- message -->
		<div class="msg-header">
			<div class="msg-header-img">
				<img src="user.jpg">
			</div>
			<div id="greetings" class="active2">
				<h4>Covid-19 AI에게 질문하기</h4>
				<h6></h6>
			</div>
			<div class="header-icons">
				<a id="help" href="/chat/idMake"><i class="fa fa-phone"></i></a>
				<!-- 상담원 직접통화 -->
				&nbsp; <i class="fa fa-exclamation-triangle"></i>
				<!-- 문제 발생시 -->
			</div>
		</div>

		<div class="chat-page">
			<!-- 채팅 화면 -->
			<div class="msg-inbox">
				<div class="chats">
					<div class="msg-page">
						<!-- 질문과 답 -->
						<div id=QnA>
							<!-- websocket으로 주고 받음 -->
						</div>
					</div>
				</div>
			</div>
			<!-- 입력부분 -->
			<div class="msg-bottom">
				<div class="input-group">
					<input type="text" id="Q" class="form-control"
						placeholder="상담원에게 물어보세요">
					<div class="input-group-append">
						<a id="chatSend"><span class="input-group-text"><i
								class="fa fa-paper-plane"></i></span> </a><span>
							<button class="btn btn-info">
								<a id="back" href="/main/mainQA">챗봇으로 돌아가기</a>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<script>
			function serverToday() {
				var xmlHttp;
				//분기하지 않으면 IE에서만 작동된다. 
				if (window.XMLHttpRequest) { // IE 7.0 이상, 크롬, 파이어폭스일 경우 분기 
					xmlHttp = new XMLHttpRequest();
					xmlHttp
							.open('HEAD', window.location.href.toString(),
									false);
					xmlHttp.setRequestHeader("Content-Type", "text/html");
					xmlHttp.send('');
				} else if (window.ActiveXObject) {
					xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
					xmlHttp
							.open('HEAD', window.location.href.toString(),
									false);
					xmlHttp.setRequestHeader("Content-Type", "text/html");
					xmlHttp.send('');
				}
				var st = xmlHttp.getResponseHeader("Date");
				var curDate = new Date(st);
				var curDateFmt;
				var year = curDate.getFullYear();
				var month = curDate.getMonth() + 1;
				var day = curDate.getDate();
				var hours = curDate.getHours();
				var minutes = curDate.getMinutes();
				if (parseInt(month) < 10) {
					month = 0 + "" + month;
				}
				if (parseInt(day) < 10) {
					day = 0 + "" + day;
				}
				if (parseInt(hours) < 10) {
					hours = 0 + "" + hours;
				}
				if (parseInt(minutes) < 10) {
					minutes = 0 + "" + minutes;
				}
				var curDateFmt = year + "-" + month + "-" + day + "T" + hours
						+ ":" + minutes + ":00";
				var d = new Date(curDateFmt);
				/* var time1 = moment(d).format('h:mm a | MMMM DD') */
				/* console.log(time1); */
				return d;
			}

			$(document).ready(function() {

			});
		</script>
	</div>
</div>


</html>











