<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/styleMain.css}"></link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
<p><br>
<div class="text-center main_title">코로나바이러스감염증-19(COVID-19)</div>
	<div class="container_m">
		<div class="contact_m-method image">
			<a href="/main/mainQA">
			<i><img src="/images_main/chat/chat1.png" alt=""></i>
			<span>코로나-19 채팅 Q&A</span>
			</a>
		</div>
		<div class="contact_m-method image">
			<a href="/main/mainQA">
			<i><img src="/images_main/info/info1.png" alt=""></i>
			<span>코로나-19 정보</span>	
			</a>
		</div>
		<div class="contact_m-method image">
		<a href="/main/mainLive">
			<i><img src="/images_main/live/live1.png" alt=""></i>
<!-- 		<i class="fas fa-head-side-virus"></i>-->			
			<span>코로나-19 현황판</span>
			</a>
		</div>
		<div class="contact_m-method image">
		<a href="/main/mainMask">
			<i><img src="/images_main/mask/mask2.png" alt=""></i>
			<span>마스크 판매처 위치</span>
			</a>
		</div>
		<div class="contact_m-method image">
		<a href="/main/mainMove">
			<i><img src="/images_main/move/move2.png" alt=""></i>
			<span>확진자 이동경로</span>
		</a>
		</div>

	</div>
</div>

</html>