<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- index.html  고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

<p><br>

    <div  class="wrap" th:if="${#lists.size(list)} > 0" th:each="vo : ${list}" >
		<div class="top container wrap2" >
			<h2 class="text-center">전 세계</h2>
			<div class="row dashboard world K_fontsize_18px">
				<div class="col-4 col-sm-4 col-md-3 text-center" >
					<p class="confirmed number" th:text="${vo.con_w}"><p>
					<p class="confirmed diff" th:text="${vo.incon_w}"></p>
					<p>확진자</p>
				</div>
	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="death red number" th:text="${vo.dead_w}"></p>
					<p class="death diff" th:text="${vo.indead_w}"></p>
					<p>사망자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="released number" th:text="${vo.iso_w}"></p>
					<p class="released diff" th:text="${vo.iniso_w}"></p>
					<p>격리해제</p>
				</div>
				<div class="col-6 col-sm-6 col-md-3 text-center">
					<p class="fatality number" th:text="${vo.fatality_w}"></p>
					<p> &nbsp;</p>
					<p>치사율</p>
				</div>
				<div class="col-6 col-sm-6 col-md-2 text-center">
					<p class="country number" th:text="${vo.contry_w}"></p>
					<p class="country diff" th:text="${vo.incontry_w}"></p>
					<p>발생국</p>
				</div>
			</div><p><br>
	
			<h2 class="text-center">대한민국</h2>
			<div class="row dashboard domestic K_fontsize_18px">
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="confirmed number" th:text="${vo.con_k}"></p>
					<p class="confirmed diff" th:text="${vo.incon_k}"></p>
					<p>확진자</p></div>
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="death red number" th:text="${vo.dead_k}"></p>
					<p class="death diff" th:text="${vo.indead_k}"></p>
					<p>사망자</p>
				</div>
				<div class="col-3 col-sm-3 col-md-2 text-center">
					<p class="released number" th:text="${vo.iso_k}"></p>
					<p class="released diff" th:text="${vo.iniso_k}"></p>
					<p>격리해제</p>
				</div>
				
				<div class="col-3 col-sm-3 col-md-1 text-center">
					<p class="fatality number" th:text="${vo.fatality_k}"></p>
					<p> &nbsp;</p>
					<p>치사율</p></div>		
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="candidate number" th:text="${vo.check_k}"></p>
					<p class="candidate diff" th:text="${vo.incheck_k}"></p>
					<p>총검사자</p>
				</div>
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="testing number" th:text="${vo.checking_k}"></p>
					<p class="testing diff" th:text="${vo.inchecking_k}"></p>
					<p>검사중</p>
				</div>	
				<div class="col-4 col-sm-4 col-md-2 text-center">
					<p class="negative number" th:text="${vo.neg_k}"></p>
					<p class="negative diff" th:text="${vo.inneg_k}"></p>
					<p>결과음성</p>
					<br>
				</div>
			</div>
			<div class="K_fontsize_13px pull-right" th:text="${vo.update_time}"></div>
			<div class="text-center">
			
			<br>
				<h5>*대한민국 수치는 질병관리본부 보도자료 기준<p>*증감수치는 전일 발표 대비 변화량</h5>
			</div>
		</div>
	</div>

</div>
</html>
