<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />

<header th:fragment="chathumanFragment">
	<div style="height: 20rem; margin: 0px; position: fixed; top: 26rem; width: 20.6rem">
		<div class="" style="margin-top: 0">
			<!-- message -->
			<div class="msg-header" style="background: /* #54cff9 */;">

				<div id="greetings" class="active2 header-icons"  style="width: 100%; padding-bottom: 0;">
				<h4>Covid-19 상담원에게 질문하기
					<a id="help" href="/chat/idMake"><i class="fa fa-phone"></i></a>
				</h4>
			</div>
				<div class="header-icons">
<!-- 			<i class="fa fa-phone"></i>
					상담원 직접통화
					&nbsp; <i class="fa fa-exclamation-triangle"></i>
					문제 발생시 -->
				</div>
			</div>

			<div class="chat-page">
				<!-- 채팅 화면 -->
				<div class="msg-inbox" style="background: /* #97cfe261 */; height: 13.5rem;">
					<div class="chats" style="overflow: scroll !important; height: 15rem;">
						<div class="msg-page">
							<!-- 질문과 답 -->
							<div id="QnA">
								<!-- websocket으로 주고 받음 -->
							</div>
						</div>
					</div>
				</div>
				<!-- 입력부분 -->
				<div class="msg-bottom">
					<div class="input-group">
						<input type="text" id="Q" class="form-control" onKeypress="javascript:if(event.keyCode==13) {search_onclick_submit}"
							placeholder="상담원에게 물어보세요"/>
						<div class="input-group-append">
						<a id="chatSend"><span class="input-group-text"><i
								class="fa fa-paper-plane"></i></span> </a><span>
							<button class="btn btn-info">
								<a id="back" href="/main/mainQA">챗봇으로 돌아가기</a>
							</button>
						</span>
					</div>
					</div>
					
				</div>
				<script>
				$(document).ready(function(){ // 엔터키 입력 가능하게
				       $("#Q").keypress(function (e) {
				        if (e.which == 13){
				        	serverToday()
				        	$('#Q').val(''); // 텍스트 내용 초기화
				        }
				    });
				});
				
				var date;
				var year;
				var month;
				var day;
				var hour;
				var min;
				var time;
				var curDateFmt2;
				var d2;

				function serverToday() {
					var xmlHttp;
					//분기하지 않으면 IE에서만 작동된다. 
					if (window.XMLHttpRequest) { // IE 7.0 이상, 크롬, 파이어폭스일 경우 분기 
						xmlHttp = new XMLHttpRequest();
						xmlHttp
								.open('HEAD', window.location.href.toString(),
										false);
						xmlHttp.setRequestHeader("Content-Type", "text/html");
						xmlHttp.send('');
					} else if (window.ActiveXObject) {
						xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
						xmlHttp
								.open('HEAD', window.location.href.toString(),
										false);
						xmlHttp.setRequestHeader("Content-Type", "text/html");
						xmlHttp.send('');
					}
					var st = xmlHttp.getResponseHeader("Date");
					var curDate = new Date(st);
					var curDateFmt;
					var year = curDate.getFullYear();
					var month = curDate.getMonth() + 1;
					var day = curDate.getDate();
					var hours = curDate.getHours();
					var minutes = curDate.getMinutes();
					if (parseInt(month) < 10) {
						month = 0 + "" + month;
					}
					if (parseInt(day) < 10) {
						day = 0 + "" + day;
					}
					if (parseInt(hours) < 10) {
						hours = 0 + "" + hours;
					}
					if (parseInt(minutes) < 10) {
						minutes = 0 + "" + minutes;
					}
					var curDateFmt = year + "-" + month + "-" + day + "T" + hours
							+ ":" + minutes + ":00";
					var d = new Date(curDateFmt);
					/* var time1 = moment(d).format('h:mm a | MMMM DD') */
					/* console.log(time1); */
					return d;
				}
				$(document).ready(function() {

				});
				
				function chatList() {
					$('#Q').val(''); // text 내용 초기화
				}

			</script>
			</div>

			

		</div>
	</div>
</header>
</html>