<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<header th:fragment="infoFragment">

		<div 
		style="min-height: calc(100vh - 1000px); margin: 0px; padding-right: 5px;">

		<span class="pull-left" style="font-size: 30px">&nbsp; Covid-19 정보</span>

		<div style="border-bottom: 2px solid black; height: 50px;">
			<!-- 밑줄 -->
		</div>
		<p>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="overflow: scroll !important;">
			<!-- 하나의 item입니다. 미작동 : data-parent 설청과 href 설정 제대로 하기 -->
			<div class="panel panel-default" style="overflow: scroll !important;">
				<div class="panel-heading K_fontsize_18px K_bord_bottom" role="tab">
				<!-- 이부분 디비 연동시 href값 맞추는거 mainMove부분 주석 참조 -->
					<a role="button" data-toggle="collapse" data-parent="#accordion"
						href="#collapse1" aria-expanded="false"> [이미지] 긴급재난지원금 안내 </a>
				</div>
				<div id="collapse1" class="panel-collapse collapse " role="tabpanel" >
					<div class="panel-body" >
						<div class="K_bord_bottom K_fontsize_13px" >
							<span class=""><i class="fa fa-circle"> </i>&nbsp; 담당 :</span> <span
								class="">여성가족부</span>&nbsp;&nbsp;&nbsp; <span class=""><i
								class="fa fa-circle"> </i>&nbsp; 작성일 :</span> <span class="">2020-05-20
								15:16</span>&nbsp;&nbsp;&nbsp; <span class=""><i
								class="fa fa-circle"> </i>&nbsp; 수정일 :</span> <span class="">2020-05-20
								15:55</span>
							<p>
						</div>
						<p>
						<div class="" style="background-color: white; " >
							본문내용~~~
							<p style="text-align: center">
								<img style="text-align: center" src="" width="500px"
									height="500px" />
							<p style="text-align: center">
								<img style="text-align: center" src="" width="500px"
									height="500px" />
						</div>
					</div>
				</div>
			</div>
			<!-- 하나의 item입니다. -->
			<div class="panel panel-default">
				<div class="panel-heading K_fontsize_18px" role="tab">
					<a role="button" data-toggle="collapse" data-parent="#accordion"
						href="#collapse2" aria-expanded="false"> [이미지] 사실상 이혼 상태에 있는
						가구원도 긴급 재난 지원금을 신청,수령할 수 있습니다. </a>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<div class="K_bord_bottom K_fontsize_13px">
							<span class=""><i class="fa fa-circle"> </i>&nbsp; 담당 :</span> <span
								class="">행정안전부</span>&nbsp;&nbsp;&nbsp; <span class=""><i
								class="fa fa-circle"> </i>&nbsp; 작성일 :</span> <span class="">2020-05-20
								15:16</span>&nbsp;&nbsp;&nbsp; <span class=""><i
								class="fa fa-circle"> </i>&nbsp; 수정일 :</span> <span class="">2020-05-20
								15:55</span>
							<p>
						</div>
						<p>
						<div class="" style="background-color: white; ">
							본문내용~~~
							<p style="text-align: center">
								<img src="" width="500px" height="500px" />
							<p style="text-align: center">
								<img src="" width="500px" height="500px" />
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div id="loading"></div>

</header>
</html>