<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메인 페이지</title>

</head>
<body>
	<div class="container outset">
		<h2 class="text-primary">메인 페이지 만들어주세요.</h2>
		<div>
		<a href="/confirmerList">코로나 확진자 경로</a>
		<a href="main/mainMove">코로나 확진자 경로2</a>
		<br><a href="/chat/chatting">채팅창</a>
		<br><a href="/main/mainQA">QnA 만들기</a>
		
		</div>
	</div>
<script>
var d = new Date("2020-06-04T12:08:00");
console.log(d);
</script>
</body>
</html>